!!!
html(ng-app='director')
  head
    title Shock! 峽客盃百萬大富翁
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.js")
    script(src="/socket.io/socket.io.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#container
      h1 Shock! 峽客盃百萬大富翁
      div(ng-view)
script(src='/javascripts/desktop.js')