html, body
  height 100%
#container
  margin 0 auto
  max-width 980px
  height 100%
#screen
  background-color #CCC
  width 90%
  margin 0 5%
  height 470px
  padding 15px
  position relative
  text-align center
#main
  width 100%
  height 100%
#source-list
  padding 12px
  width 100%
.source
  width 240px
  height 180px
  &.active
    ~ .on-live
      display block
#source-preview
  width 100%
  height 100%
#source-preview-container
  width 100%
  height 100%
#create-desktop
  padding 6pt 30pt
  border 1px solid #2980b9
  background-color #3498db
  color #FAFAFA
  font-size 12.5pt
  cursor pointer
  &:hover
    background-color darken(#3498db, 20%)
.on-live
  display none
  position absolute
  right 5px
  top -11px
  font-size 12pt
  font-weight bold
  background-color rgba(255, 255, 255, 0.8)
  padding 3px 5px
  border 1px solid #555
  .red-dot
    color #e74c3c
.source-container
  display inline-block
  margin 0 18px
  position relative
.source-link
  padding 6pt 10pt
  border 1px solid #2c3e50
  background-color #34495e
  color #FAFAFA
  font-size 11.5pt
  cursor pointer
  &:hover
    background-color darken(#34495e, 20%)